name: CI/CD to Dev Server

on:
  push:
    branches:
      - master

jobs:
  build-and-run:
    runs-on: self-hosted
    name: Build and Run on Dev Server

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Show workspace
      run: echo "GITHUB_WORKSPACE is:$GITHUB_WORKSPACE"

    - name: Run Unit Tests
      run: mvn test

    - name: Run SpotBugs
      run: mvn spotbugs:spotbugs  

    - name: Build project
      run: mvn -B clean package -DskipTests

    - name: Restart Spring Boot App
      run: sudo systemctl restart myapp
