name: CI/CD to Dev Server

on:
  push:
    branches:
      - master

jobs:
  build-and-run:
    runs-on: self-hosted
    name: Build and Run on Dev Server

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Show workspace
      run: echo "GITHUB_WORKSPACE is:$GITHUB_WORKSPACE"

    - name: Run Unit Tests
      run: mvn test

    - name: Run SpotBugs
      run: mvn spotbugs:spotbugs  

    - name: Build project
      run: mvn -B clean package -DskipTests

    - name: Restart Spring Boot App
      run: sudo systemctl restart myapp

    - name: Notify Telegram Success
      if: success()
      uses: appleboy/telegram-action@v0.3.0
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ✅ Deployment successful
          PR: ${{ github.event.pull_request.title }}
          Branch: ${{ github.event.pull_request.head.ref }}
          PR Link: ${{ github.event.pull_request.html_url }}
          Author: ${{ github.event.pull_request.user.login }}

    - name: Notify Telegram Failure
      if: failure()
      uses: appleboy/telegram-action@v0.3.0
      with:
        to: ${{ secrets.TELEGRAM_CHAT_ID }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ❌ Deployment failed
          PR: ${{ github.event.pull_request.title }}
          Branch: ${{ github.event.pull_request.head.ref }}
          PR Link: ${{ github.event.pull_request.html_url }}
          Author: ${{ github.event.pull_request.user.login }}
