name: CI/CD to Dev Server

on:
  push:
    branches:
      - master

jobs:
  build-and-run:
    runs-on: self-hosted
    name: Build and Run on Dev Server

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Pull latest code
      run: git pull origin master

    - name: Build project
      run: |
        cd $GITHUB_WORKSPACE
        mvn clean package -DskipTests

    - name: Stop old app
      run: pkill -f 'java -jar target/CRUD-Login-0.0.1-SNAPSHOT.jar' || true

    - name: Run new app
      run: |
        cd $GITHUB_WORKSPACE
        nohup java -jar target/CRUD-Login-0.0.1-SNAPSHOT.jar > app.log 2>&1 &
