name: PR Quality Check

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  pr-check:
    runs-on: ubuntu-latest
    name: Run Tests & SpotBugs for PR

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Unit Tests
        run: mvn test

      - name: Run SpotBugs
        run: mvn spotbugs:spotbugs

      - name: Notify Telegram
        if: success()
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ✅ PR Created
            PR: ${{ github.event.pull_request.title }}
            Branch: ${{ github.event.pull_request.head.ref }}
            PR Link: ${{ github.event.pull_request.html_url }}
            Author: ${{ github.event.pull_request.user.login }}

      - name: Notify Slack Success
        if: success()
        uses: slackapi/slack-github-action@v1.25.0
        with:
          channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
          slack-message: |
            ✅ PR Created
            PR: ${{ github.event.pull_request.title }}
            Branch: ${{ github.event.pull_request.head.ref }}
            PR Link: ${{ github.event.pull_request.html_url }}
            Author: ${{ github.event.pull_request.user.login }}
          botToken: ${{ secrets.SLACK_TOKEN }}
